# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.env
node_modules
functions/node_modules/
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/components/WRONG CollaboratoreDashboard.jsx
*.jsx
.claude/launch.json
.claude/settings.local.json
dist/assets/index-BdX8f03k.js
dist/assets/index-DwGvF_XB.js
dist/assets/index.esm-BAkcVaKE.js
dist/assets/index.esm-BfUCy69q.js
dist/icons/icon-128x128.png
dist/icons/icon-144x144.png
dist/icons/icon-152x152.png
dist/icons/icon-192x192.png
dist/icons/icon-256x256.png
dist/icons/icon-384x384.png
dist/icons/icon-512x512.png
dist/icons/icon-72x72.png
dist/icons/icon-96x96.png
dist/index.html
dist/manifest.json
dist/sw.js
public/icons/icon-128x128.png
public/icons/icon-144x144.png
public/icons/icon-152x152.png
public/icons/icon-192x192.png
public/icons/icon-256x256.png
public/icons/icon-384x384.png
public/icons/icon-512x512.png
public/icons/icon-72x72.png
public/icons/icon-96x96.png
public/manifest.json
public/sw.js
src/components/LeaderDashboard.jsx
src/data/OLD plans.js
src/OLD main.tsx
src/utils/OLD pwa.js
src/utils/OLD2 pwa.js
src/utils/WRONG pwa.js
dist/assets/index-DwGvF_XB.js
dist/assets/index.esm-BAkcVaKE.js
dist/index.html
